{% extends 'base.html' %}

{% block content %}

<main class="container py-5">

    <section class="card card-body">
        <h1 class="display-6 text-center">How to Stay Organized with Your School Assignments</h1>
        <p>Staying on top of school assignments can be a daunting task for students of all ages. With multiple subjects, deadlines, and extracurricular activities, it’s easy to feel overwhelmed. Here are some tips to help you stay organized and ensure you complete your school assignments on time</p>
        
        <h4>1. Break Down Large Tasks</h4>
        <p>Large projects or assignments can seem intimidating. Break them down into smaller, more manageable tasks. For example, if you have a research paper due, break it into steps such as choosing a topic, conducting research, writing an outline, drafting the paper, and then editing it. Set mini-deadlines for each step to keep yourself on track.</p>
        <h4>2. Create a Dedicated Study Space</h4>
        <p>Having a dedicated space for studying and completing assignments can help improve your focus and productivity. Make sure your study area is free from distractions, well-lit, and equipped with all the supplies you need, such as pens, paper, and a computer.</p>
        <h4>3. Prioritize Your Tasks</h4>
        <p>Not all assignments are created equal. Prioritize your tasks based on their due dates and the amount of time they will take to complete. Tackle the most urgent and challenging tasks first when your energy levels are highest.</p>
        <p class="display-6 text-center">Organize your tasks here!</p>
        <div class="text-center">

            <a class="btn btn-danger" href="/signin/">
                Sign In
            </a>
            <a class="btn btn-dark" href="/signup/">
                Sign Up
            </a>
            
        </div>
        
    </li>
    </section>

</main>



{% endblock %}